* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #141414;
    color: #a3a3a3;
    margin-bottom: 100px;
    margin-right: 0;
}

/* color testing */
.row {
    border: 1px solid red;
    /* background-color: gray; */
    border-radius: 30px;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* color testing */
.col {
    margin-top: 1rem;
    /* padding: 1rem; */
    border: 1px solid red;
    background-color: gray;
    border-radius: 30px;
    margin-left: 1rem;
    margin-right: 1rem;
}

textarea {
    max-width: 100%;
}

h1 {
    color: #26c281;
    font-size: 1.5rem;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 1.25rem;
}

h3 {
    font-size: 1.15rem;
    text-align: center;
}

header {
    background-color: #20b2aa;
}

/* .nav-list {
    background-color: #20b2aa;
    /* padding: .25rem; */
/* width: 100%; */
/* display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
} */

/* .nav-item {
    list-style: none;
    margin-right: 2rem;
}

.nav-item h1, .nav-item a {
    color: #121212;
}

.nav-item.title {
    margin-right: auto;
    margin-left: 2rem;
}  */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #20b2aa;
    text-align: center;
    color: #121212;
}

footer p {
    font-size: .75rem;
}

footer a {
    color: #121212;
}

/* old navbar: Title on left, rest on right side */
/* nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #20b2aa;
    width: 100%;
    padding: .25rem;
    z-index: 1;
    text-align: center;
}

nav a {
    color: #141414;
    font-size: 1rem;
    margin: .5rem;
    text-align: center;
} */

.nav {
    text-align: center;
    padding:0;
}

.features {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
    margin-left: 0;
}

.title {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.user {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
    margin-right: 0.5rem;
}

nav {
    padding: 0;
}

.nav-item a, h1.nav-item {
    color:#121212;
    text-align: center;
}

.nav-item a:hover, footer a:hover {
    color: white;
    text-shadow: 1px 1px 5px #121212;
}

li {
    display: inline;
}

img {
    max-width: 100%;
    height: auto;
}

/* Used to center Google's material icons (may not work with all icons; adjust font size of text accordingly) */
.material-icons {
    display: inline-flex;
    vertical-align: top;
}

.highlight:hover {
    background-color: #525252;
}

/* placeholder highlight for locator-interaction */
.locator-highlight {
    background-color: #525252;
}

/* Used to hide text for smaller screens */
.item-hide {
    display: none;
}

div.card.map {
    min-width: 200px;
    width: 75%;
    justify-content: center;
}

section.locator {
    text-align: center;
}

.mobile-show i {
    font-size: 2.5rem;
    text-align: center;
}

/* Desktop+ size */
@media (min-width: 992px) {
    
    body {
        margin-bottom: 7.5%;
    }
    
    .row {
        margin-left: 5rem;
        margin-right: 5rem;
    }
    
    /* Reenables text for larger screens */
    .item-hide {
        display: unset;
    }

    .mobile-show {
        display: none;
    }

    footer p {
        font-size: 1.05rem;
    }

    footer a {
        font-size: 1.10rem;
    }

    .nav-item a {
        margin-right: 2rem;
        font-size: 1.15rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

     /* Navbar */
     .nav {
        display: flex;
    }

    .features {
        margin-top: 1rem;
    }

    .title {
        align-items: center;
    }

    .user {
        margin-top: 1rem;
    }
}

#calendar .row {
    justify-content: left;

}

#calendar .row .col {
    flex: 0 0 14.285%;
    width: 14.285%;
}

#calendar .row .col .card:hover {
    box-shadow: 1px 3px 3px black;
}

.carousel-control-prev,
.carousel-control-next {
    margin: 0rem 18rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: black;
}