* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #141414;
    color: #a3a3a3;
    margin-bottom: 100px;
}

header {
    padding-top: 6rem;
}

footer {
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #20b2aa;
    text-align: center;
    color: #121212;
}

footer p {
    font-size: .75rem;
}

footer a {
    color: #121212;
}

h1 {
    color: #26c281;
    text-align: center;
    font-size: 1.5rem;
}

h2 {
    text-align: center;
    font-size: 1.25rem;
}

h3 {
    font-size: 1.15rem;
    text-align: center;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #20b2aa;
    width: 100%;
    padding: .25rem;
    z-index: 1;
    text-align: center;
}

nav a {
    color: #141414;
    font-size: 1rem;
    margin: .5rem;
    text-align: center;
}

li {
    display: inline;
}

img {
    max-width: 100%;
    height: auto;
}

/* Used to center Google's material icons (may not work with all icons; adjust font size of text accordingly) */
.material-icons {
    display: inline-flex;
    vertical-align: top;
}

.highlight:hover {
    background-color: #525252;
}

/* placeholder highlight for locator-interaction */
.locator-highlight {
    background-color: #525252;
}

/* Used to hide text for smaller screens */
.item-label {
    display: none;
}

#locator div.card.map {
    min-width: 340px;
}

#locator section {
    text-align: center;
}

/* Tablet size */
@media (min-width: 768px) {

    /* Reenables text for larger screens */
    .item-label {
        display: unset;
    }

    body {
        margin-bottom: 7.5%;
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.55rem;
    }

    h3 {
        font-size: 1.35rem;
    }
    

}

/* Desktop+ size */
@media (min-width: 992px) {
    nav {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }

    nav a {
        font-size: 1.25rem;
    }

    footer p {
        font-size: 1.05rem;
    }
    footer a {
        font-size: 1.05rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }
    

}

#calendar .row {
    justify-content: left;

}

#calendar .row .col {
    flex: 0 0 14.285%;
    width: 14.285%;
}

#calendar .row .col .card:hover {
    box-shadow: 1px 3px 3px black;
}

.carousel-control-prev, .carousel-control-next {
    margin: 0rem 18rem;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    color: black;
}