* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f5f5f5;
}

header {
    padding-top: 6rem;
}

h1 {
    color: #26c281;
    text-align: center;
    font-size: 1.5rem;
}

h2 {
    text-align: center;
    font-size: 1.25rem;
}

h3 {
    font-size: 1.15rem;
    text-align: center;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #20b2aa;
    width: 100%;
    padding: .25rem;
    z-index: 1;
    text-align: center;
}

nav a {
    color: #141414;
    font-size: 1rem;
    margin: .5rem;
}

li {
    display: inline;
}

img {
    max-width: 100%;
    height: auto;
}

/* Used to center Google's material icons (may not work with all icons; adjust font size of text accordingly) */
.material-icons {
    display: inline-flex;
    vertical-align: top;
}

.highlight:hover {
    background-color: #525252;
}

/* placeholder highlight for locator-interaction */
.locator-highlight {
    background-color: #525252;
}

/* Used to hide text for smaller screens */
.item-label {
    display: none;
}

#locator div.card.map {
    min-width: 340px;
}

#locator section {
    text-align: center;
}

/* Tablet size */
@media (min-width: 768px) {

    /* Reenables text for larger screens */
    .item-label {
        display: unset;
    }
}

/* Desktop+ size */
@media (min-width: 992px) {
    nav {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }
}

#calendar .row .col {
    flex: 1;
}

#calendar .row .col .card:hover {
    box-shadow: 1px 3px 3px black;
}