/* Global styling */
* {
    box-sizing: border-box;
}

body {
    /* Body styling */
    font-family: sans-serif, Verdana, Geneva, Tahoma;
    background-color: #A7D397;
    color: #141414;
    margin-bottom: 100px;
}

/* Common styling for .row and .col */
/* color testing */
.row, .col {
    border-radius: 30px;
    margin-left: 1rem;
    margin-right: 1rem;
}

textarea {
    max-width: 100%;
}

/* Header styling */
h1 {
    color: #141414;
    font-size: 1.5rem;
    text-align: center;
}

/* Subheadings styling */
h2 {
    text-align: center;
    font-size: 1.25rem;
}

h3 {
    font-size: 1.15rem;
    text-align: center;
}

h2,
h3,
label {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

label.filter-spacing {
    margin-right: 1rem;
}

label.addForm {
    margin-bottom: 0;
}

input#name-filter,
input#address-filter,
input#pharmacyRadio {
    margin-right: 0.5rem;
    height: 1rem;
    width: 1rem;
}

/* Header, footer, and .nav styling */
header, footer, .nav {
    background-color: white;
}

header {
    color: black;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: black;
    border-top: 2.5px solid black;
}

footer p {
    font-size: .75rem;
}

footer a {
    color: black;
}

.nav {
    text-align: center;
    border-bottom: 2.5px solid black;
}

/* Styling for flex containers */
.features, .title, .user {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.user {
    margin-right: 0.5rem;
    margin-top: 1rem;
}

nav {
    padding: 0;
}

.nav-item a,
h1.nav-item {
    color: black;
    text-align: center;
}

.nav-item a:hover, footer a:hover {
    color: #141414;
    text-shadow: 1px 1px 5px #141414;
}

/* Styling for inline elements */
li {
    display: inline;
}

img {
    max-width: 100%;
    height: auto;
}

/* Styling for material icons */
.material-icons {
    display: inline-flex;
    vertical-align: top;
}

/* Hover effect for elements with class .highlight */
.highlight:hover {
    background-color: #999999;
}

/* Highlight for locator interaction */
.locator-highlight {
    background-color: #999999;
}

/* Hide text for smaller screens */
.item-hide {
    display: none;
}

/* Styling for pharmacy data */
.pharmacy-data i {
    margin-bottom: 1rem;
    font-size: 2rem;
}

div.card {
    border: 0.1rem solid black;
}

div.card.map {
    min-width: 200px;
    width: 75%;
    justify-content: center;
}

section.locator {
    text-align: center;
}

.mobile-show i {
    font-size: 2.5rem;
    text-align: center;
}

div.mobile-nav {
    display: block;
    position: absolute;
    text-align: left;
}

.mobile-nav div {
    background-color: white;
    min-width: 120px;
    padding: 10px;
}

button.logout {
    background-color: red;
    margin-right: 2rem;
}

/* Login Page Styling */

div.login {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 80vh;
}

div.mdl-card {
    border: 0.15rem solid black;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3);
}

/* Locator styling */
p.center-text {
    margin-top: 1rem;
}

span.underline {
    text-decoration: underline;
}

input#search-pharmacy, input#location {
    margin-bottom: 1rem;
}

p.warning-text {
    font-size: 0.85rem;
}

.pharmacy-list div.card-body {
    padding: 0.25rem;
}

.pharmacy-list div.card {
    padding: 0 1rem;
}

.pharmacy-list div.card:last-child,
.pharmacy-data div.card {
    margin-bottom: 1rem;
}

.pharmacy-data button {
    margin: 0 0.5rem;
    padding: 0 0.5rem;
    width: 25vw;
}

.pharmacy-add button, button.signButton {
    margin: 0.5rem 0;
    padding: 0 1rem;
}

.container table {
    display: none;
}

#location input {
    margin-bottom: 10px;
}

/* Styling for .card-group .card on hover */
.card-group .card:hover {
    background-color: gray;
    font-weight: bold;
}

/* Styling for carousel control icons */
.carousel-control-prev-icon, .carousel-control-next-icon {
    color: black;
}

/* Styling for the .app-container */
.app-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Styling for tables */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #333;
}

th, td {
    padding: 10px;
    text-align: center;
}

/* Styling for buttons */
button {
    background-color: #198754;
    color: white;
    border: none;
}

.formError {
    color: red;
}

button.delete {
    background-color: red;
}

button.cancel {
    background-color: gray;
}

.card.map {
    height: 200px;
}

.modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000; 
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

/* Tablet size media query */
@media (min-width: 768px) {
    /* Reenables text for larger screens */
    .item-hide {
        display: unset;
    }

    /* Hides mobile functions */
    .mobile-show {
        display: none;
    }

    body {
        margin-bottom: 10%;
    }

    .row {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.55rem;
    }

    h3 {
        font-size: 1.35rem;
    }

    /* Navbar styling for tablet size */
    .nav {
        display: flex;
    }

    .nav-item a {
        margin-right: 2rem;
        font-size: 1.15rem;
    }

    .features {
        margin-top: 1rem;
    }

    .title {
        align-items: center;
    }

    .user {
        margin-top: 1rem;
    }

    footer p {
        font-size: .85rem;
    }

    footer a {
        font-size: .9rem;
    }

    .pharmacy-data button {
        margin: 0 1rem;
        padding: 0 3rem;
        width: 20vw;
    }

    .pharmacy-add button, button.signButton {
        margin: 1rem 0;
        padding: 0 3rem;
    }

    .container table {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    .pharmacy-add a {
        text-decoration: none;
        color: black;
    }

}

/* Desktop+ size media query */
@media (min-width: 992px) {
    .row {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    footer p {
        font-size: 1.05rem;
    }

    footer a {
        font-size: 1.10rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .pharmacy-data button {
        margin: 0 2rem 1rem;
        padding: 0 3rem;
        width: 15vw;
    }

    .card.map {
        height: 400px;
    }

}


